<form action="/createProductAction" method="post">
    <label for="">Phone Name</label>
    <input type="text" name="name">
    <label for="">Price (Euro)</label>
    <input type="text" name="price">
    <label for="">Color</label>
    <input type="text" name="color">
    <label for="">Image</label>
    <input type="file" name="image">

    <label for="">Phone Brand</label>
    <select id="brand-select" name="brand">
        <option value="">--Please choose an option--</option>
        <option value="Apple">Apple</option>
        <option value="Samsung">Samsung</option>
        <option value="Huawei">Huawei</option>
    </select>

    <button>Submit</button>

</form>



