
<div class="home-name">
    <h1>PhoneHut</h1>
</div>

<div class="home-container">
    <img src="https://res.cloudinary.com/dkggutsnf/image/upload/v1608203781/hjgk3rmyfw7oivw9ejis.jpg"" alt="background image">
</div>

