*{
  box-sizing: border-box;
  
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-family: Arial;
}

form h1{
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  padding:20px;
}

button{
  color:black;
}

body{

  background-color: black;
}

h1 {
  margin: 0;
  padding: 40px;
  font-style: Arial;
}


nav {
  margin-top: 10px;
  background-color: black;
  text-align: center;
}

nav a {
  padding: 15px;
  color: white;
  text-decoration: none;
  text-align:center;
  font-family: arial;
  
}

.home-name {
background: black;
color: white;
}